body{
     margin: 1;
     padding: 1;
     font-family: sans-serif;


     }
h1{
        margin: 1;
        padding: 0 0 16px;
        text-align: left;
        font-size: 40px;
        border-width: small;
        border-style: solid;
        border-color: #0B0719;
        border-top-width: 5px;
        border-low-width: 5px;
        boder-low-width: 5px;
        border-right-width: 5px;
        border-left-width: 5px;
        background-color: #FFFFFF;
       
    }
      table{
        margin: 1;
        padding: 0 0 16px;
        border-width: small; 
        border-style: solid;
        border-color: #0B0719;
        border-top-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
        background-color: #FFFFFF;
    }
     h2{
        margin: 1;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
     }

